<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SS14 Movie Night</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{base}}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{base}}css/fonts.css">

    <!-- Favicon -->
    <link rel="icon" href="images/ss14-icon.svg" sizes="any" type="image/svg+xml">

    <!-- OGP embedding -->
    <meta content="SS14 Movie Night" property="og:title" />
    <meta content="Vote for a movie to watch next!" property="og:description" />
    <meta content="https://visne.xyz/movienight/" property="og:url" />
    <meta content="{{base}}images/ss14-icon.svg" property="og:image" />
    <meta content="#E23229" data-react-helmet="true" name="theme-color" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-content">
                <img class="header-logo" src="{{base}}images/ss14-icon.svg" alt="SS14 Logo">
                <a class="header-button" href="{{base}}">Movies</a>
                <a class="header-button" href="#" onclick="alert('Not implemented yet, sorry!');">Dates</a>
                {{{ body }}}
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <div class="filter box closed">
                    <div class="filter-toggle">
                        Sort By
                        <img class="filter-chevron" src="{{base}}images/chevron.svg" width="12em" alt="Chevron">
                    </div>
                    <div class="filter-content">
                        Content
                    </div>
                </div>
                <div class="filter box closed">
                    <div class="filter-toggle">
                        Sort By 2
                        <img class="filter-chevron" src="{{base}}images/chevron.svg" width="12em" alt="Chevron">
                    </div>
                    <div class="filter-content">
                        Content
                    </div>
                </div>
                <div class="filter box closed">
                    <div class="filter-toggle">
                        Show watched movies
                        <img class="filter-chevron" src="{{base}}images/chevron.svg" width="12em" alt="Chevron">
                    </div>
                    <div class="filter-content">
                        Content
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <img class="poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ve72VxNqjGM69Uky4WTo2bK6rfq.jpg" alt="Movie poster">
                        <div class="movie-content">
                            <div class="movie-title">
                                2001: A Space Odyssey <span class="movie-year">(1968)</span>
                            </div>
                            <div class="movie-description">
                                Humanity finds a mysterious object buried beneath the lunar surface and sets off to find its origins with the help of HAL 9000, the world's most advanced super computer.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <img class="poster" src="https://www.themoviedb.org/t/p/original/d5NXSklXo0qyIYkgV94XAgMIckC.jpg" alt="Movie poster">
                        <div class="movie-content">
                            <div class="movie-title">
                                Dune <span class="movie-year">(2021)</span>
                            </div>
                            <div class="movie-description">
                                Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, must travel to the most dangerous planet in the universe to ensure the future of his family and his people. As malevolent forces explode into conflict over the planet's exclusive supply of the most precious resource in existence-a commodity capable of unlocking humanity's greatest potential-only those who can conquer their fear will survive.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <img class="poster" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ve72VxNqjGM69Uky4WTo2bK6rfq.jpg" alt="Movie poster">
                        <div class="movie-content">
                            <div class="movie-title">
                                2001: A Space Odyssey <span class="movie-year">(1968)</span>
                            </div>
                            <div class="movie-description">
                                Humanity finds a mysterious object buried beneath the lunar surface and sets off to find its origins with the help of HAL 9000, the world's most advanced super computer.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <img class="poster" src="https://www.themoviedb.org/t/p/original/d5NXSklXo0qyIYkgV94XAgMIckC.jpg" alt="Movie poster">
                        <div class="movie-content">
                            <div class="movie-title">
                                Dune <span class="movie-year">(2021)</span>
                            </div>
                            <div class="movie-description">
                                Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, must travel to the most dangerous planet in the universe to ensure the future of his family and his people. As malevolent forces explode into conflict over the planet's exclusive supply of the most precious resource in existence-a commodity capable of unlocking humanity's greatest potential-only those who can conquer their fear will survive.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <div class="movie-content">
                            content
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <div class="movie-content">
                            content
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <div class="movie-content">
                            content
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <div class="movie-content">
                            content
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <div class="movie-content">
                            content
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="upvote">
                        <img class="upvote-button" src="{{base}}images/upvote.svg" alt="Upvote button">
                        <div class="upvote-counter">0</div>
                    </div>
                    <div class="box movie-box">
                        <div class="movie-content">
                            content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Enjoy this footer placeholder
        </div>
    </div>

    <!-- Open menu item function -->
    <script>
        function upvote(element) {
            const counter = element.parentNode.querySelector(".upvote-counter");
            const button = element.parentNode.querySelector(".upvote-button");

            if (counter) {
                counter.textContent = (parseInt(counter.textContent) + 1).toString();
                counter.classList.add("upvoted");
            }

            if (button) {
                button.classList.add("upvoted");
            }
        }

        function toggleOpen(element) {
            element.parentNode.classList.toggle('closed');
        }

        const upvoteButtons = document.querySelectorAll(".upvote-button")
        const filterButtons = document.querySelectorAll(".filter-toggle");

        filterButtons.forEach(element => {
            element.addEventListener("click", () => {
                toggleOpen(element);
            });
        });

        upvoteButtons.forEach(element => {
            element.addEventListener("click", () => {
                upvote(element);
            });
        });
    </script>
</body>
</html>