<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SS14 Movie Night</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{base}}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{base}}css/fonts.css">

    <!-- Favicon -->
    <link rel="icon" href="images/ss14-icon.svg" sizes="any" type="image/svg+xml">

    <!-- OGP embedding -->
    <meta content="SS14 Movie Night" property="og:title" />
    <meta content="Vote for a movie to watch next!" property="og:description" />
    <meta content="https://visne.xyz/movienight/" property="og:url" />
    <meta content="{{base}}images/ss14-icon.svg" property="og:image" />
    <meta content="#E23229" data-react-helmet="true" name="theme-color" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-content">
                <img class="header-logo" src="{{base}}images/ss14-icon.svg" alt="SS14 Logo">
                <a class="header-button" href="{{base}}">Movies</a>
                <a class="header-button" href="#" onclick="alert('Not implemented yet, sorry!');">Dates</a>
                {{{ body }}}
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <nav>
                    <ul>
                        <li><a href="#">option one</a></li>
                        <li><a href="#">option 2</a></li>
                        <li><a href="#">option three</a></li>
                        <li><a href="#">option 4</a></li>
                        <li><a href="#">opt ion fivefive</a></li>
                        <li><a href="#">option 6</a></li>
                        <li><a href="#">option seven seven</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserun
                t mollit anim id est laborum."
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt exp
                licabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntu
                r magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum q
                uia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?"
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserun
                t mollit anim id est laborum."
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt exp
                licabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolo
                rem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incid
                unt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?"
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserun
                t mollit anim id est laborum."
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt exp
                licabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia c
                onsequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolor
                em ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidu
                nt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </div>
        </div>
        <div class="footer">
            Enjoy this footer placeholder
        </div>
    </div>
</body>
</html>