{{#if name}}
    Your name is <b>{{name}}</b>
    {{#if profilePictureUrl}}
        <br><img src="{{profilePictureUrl}}" alt="Profile picture">
    {{/if}}
{{else}}
    <a class="gh-login-button" href="https://github.com/login/oauth/authorize?client_id={{clientId}}&redirect_uri={{redirectUri}}">
        <img src="{{base}}images/github-icon.svg" alt="Github Logo" width="24px">
        <div>Login with GitHub</div>
    </a>
{{/if}}

