{{#if name}}
    Your name is <b>{{name}}</b>
    {{#if profilePictureUrl}}
        <br><img src="{{profilePictureUrl}}" alt="Profile picture">
    {{/if}}
{{else}}
    <a class="header-button">Vote</a>
    <a class="header-button">Finished</a>
    <a class="header-button">Dates</a>
    <div class="gh-login-button">
        You are not logged in.
        <br>
        <a href="https://github.com/login/oauth/authorize?client_id={{clientId}}&redirect_uri={{redirectUri}}">Login with GitHub</a>
    </div>
{{/if}}

